include ../button-link/button-link

mixin header({imgSrc, logoText, list = [], listItem, text, tel, link})
    +b.header
        +e.A.logo(href='#')
            +e.img-wrapper
                +e.logo-img(src=imgSrc)
            +e.P.logo-text= logoText
        +e.UL.list
            each item in list
                +e.A.item= item.listItem
        +e.contact
        +e.contact
            +e.P.contact-text= text
            +e.A.contact-tel(href='tel:74953744455')= tel
        +button-link({'linkText': link})

