.pleer-content {
    width: 38.5%;

    &__title {
        font-family: 'NimbusMono';
        font-weight: 700;
        font-size: 34px;
        line-height: 1.2;
        margin-bottom: 50px;

        position: relative;
        margin-left: 100px;
    }

    &__title::before {
        content: '';
        display: inline-block;
        background-image: url('~images/pleer-section/quotation.svg');
        width: 81px;
        height: 81px;
        position: absolute;
        left: -106px;
    }

    &__text {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 14px;
        line-height: 1.6;
        color: $dark-gray;
        padding-top: 50px;
        border-top: 1px solid $black;
    }
}
