include ../button-link/button-link

mixin application({title, text, phone, button, link})
    +b.application
        +e.H3.title= title
        +e.P.text= text
        +e.INPUT(type="text" name="title" placeholder="Введите ваш номер телефона").phone= phone
        +button-link({'linkText': link})
