mixin preview-slider({slides=[], slide, arrowNext, arrowPrev})
    +b.preview-slider
        each slide in slides
            +b.preview-slide
                +e.img-wrapper
                    +e.img(src=slide.imgSrc)
                +e.P.date= slide.date
                +e.H3.title= slide.title
                +e.P.text= slide.text
        +e.arrows
            +e.BUTTON.arrowPrev
            +e.BUTTON.arrowNext
