@import 'colors';
// @import 'fonts';
// @import 'components';

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1534px;
    padding: 0 25px;
}

section {
    margin: 0 auto;
    width: 100%;
    height: auto;
}

main {
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-width: 1920px;
}

.preview {
    padding: 0 25px;
}

.preview-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1670px;
    margin: 0 auto;
}

.slider-section {
}

.slider-inner {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 77px;
}

.application-section {
    padding: 98px 0 88px;
    background-image: url(~images/application/application-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $black;
}

.functionality-section {
}

.section-grey {
    background: linear-gradient(
            274.92deg,
            rgba(236, 236, 236, 0.54) 4.6%,
            rgba(251, 251, 251, 0.44) 118.96%
        ),
        #ffffff;
}

.pleer-section {
    margin: 0 auto 0 0;
    padding: 70px 25px 95px 0;
    max-width: 1756px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-advantages {
    padding: 86px 0 20px 0;
}

.advantages-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
