@import 'colors';
@import 'fonts';
@import 'components';

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
    color: $black;
}

* {
    box-sizing: border-box;
}
