
.button-link{
        position: relative;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: right;
        color: $white;

        background-color: $purple;
        border-radius: 6px;
        padding:  22px 105px 22px 38px;
        border: none;
        cursor: pointer;

    &::after{
        background-image: url(~images/button-arrow.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-size: 22px 18px;
        background-position: center;

        top:0;
        right: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        content: "";
        display: block;
        height: 47px;
        width: 72px;

        border-left: 1px solid $white;
    }
}