include /components/icon/icon

mixin pleer-video
    +b.player
        +e.inner-block
        +e.wrapper
            +e.button-close
                +icon('player-close.svg')
            +e.video-content
                +e.VIDEO.video(width='1300', height='780')
                    +e.SOURCE(
                        src='https://jsoncompare.org/LearningContainer/SampleFiles/Video/MP4/Sample-MP4-Video-File-for-Testing.mp4'
                    )
                +icon('player-play', 200, 200).player__button-play
        +e.background
