.footer {
    background-color: $purple;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    padding-right: 1.7%;
    color: $white;

    &__logo {
        display: flex;
        margin-right: 6%;
        padding: 39px 68px 34px 37px;
        align-items: center;
        background-color: #b3defe;
        cursor: pointer;
        text-decoration: none;
    }

    &__img-wrapper {
        width: 54px;
        height: 52px;
        margin-right: 22px;
    }

    &__logo-img {
        width: auto;
        max-width: 100%;
        height: auto;
    }

    &__logo-text {
        font-family: 'AmericanTypewriter';
        font-weight: 400px;
        font-size: 26px;
        line-height: 1.1;
        max-width: 100px;
    }

    &__nav {
        display: flex;
        list-style-type: none;
        width: auto;
    }

    &__nav > li {
        margin-right: 6.6%;
    }

    &__nav-item {
        font-family: 'Montserrat';
        font-weight: 700px;
        font-size: 22px;
        line-height: 1.1;
        cursor: pointer;
        text-decoration: none;
        color: $white;
    }
}
