extends /layouts/page
include /components/title/title
include /components/icon/icon
include /components/header/header
include /components/preview-card/preview-card
include /components/preview-slider/preview-slider
include /components/slider-card/slider-card
include /components/application/application
include /components/functionality/functionality
include /components/pleer-section-img/pleer-section-img
include /components/pleer-content/pleer-content
include /components/advantages-card/advantages-card
include /components/footer/footer


block title
    | Главная


block content


    +header(data.main.header)

    main
        section.preview
            .preview-inner
                +preview-card(data.main.previewCard)
                +preview-slider(data.main.slider)

        section.slider-section.section-grey
            .container
                .slider-inner
                    +slider-card(data.main.sliderCards)

        section.application-section
            .container
                +application(data.main.application)
        
        section.functionality-section.section-grey
            +functionality(data.main.functionality)

        section.pleer-section
            +pleer-img(data.main.pleerImg)
            +pleer-content(data.main.pleerContent)

        section.section-advantages.section-grey
            .container
                .advantages-inner
                    each val in data.main.advantagesCard
                        +advantages-card(val)

    +footer(data.main.footer)
        
