.slider-cards {
    // max-width: 1534px;
    margin: 10px auto;
    width: 100%;

    &__wrapper {
        margin: 10px 30px;
        overflow: hidden;
        position: relative;
    }

    &__items {
        width: 10000px;
        position: relative;
    }

    &__button-left p {
        float: left;
        width: 20px;
        height: 20px;
        background: url('~images/arrow_left.svg');
    }
    &__button-right p {
        float: right;
        width: 20px;
        height: 20px;
        background: url('~images/arrow_right.svg');
    }

    .slider-card {
        float: left;
        width: 419px;
        margin: 50px;

        &__img-wrapper {
            width: 100%;
            max-height: 237px;
            overflow: hidden;
            margin-bottom: 42px;
            border-radius: 8px;
        }

        &__img {
            width: auto;
            height: auto;
            max-width: 100%;
        }

        &__title {
            font-family: 'Nimbus Mono';
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 32px;
            letter-spacing: 0.01em;
            color: $black;
            padding-bottom: 31px;
            margin-bottom: 30px;
            border-bottom: 1px solid $black;
        }

        &__text {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0.01em;
            color: $dark-gray;
        }
    }
}
