.application-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    color: $white;

    &__title{
        font-family: 'Nimbus Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
    }

    &__text{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
    }
}