mixin functionality({title, text, tabList=[], item, imgSrc})
    +b.functionality
        +e.content
            +e.H3.title= title
            +e.P.text= text
            +e.tab-list
                each item in tabList
                    +e.DIV.tab-item= item.item
        +e.img-wrapper
            +e.img(src=imgSrc)= imgSrc
