.functionality {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1700px;
    margin: 0 0 0 auto;
    padding-left: 15px;

    &__content {
        width: 30%;
    }

    &__title {
        font-family: 'Nimbus Mono';
        font-weight: 700;
        font-size: 40px;
        line-height: 1.6;
        margin-bottom: 22px;
    }

    &__text {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 14px;
        line-height: 1.57;
        margin-bottom: 60px;
    }

    &__tab-item {
        font-family: 'Nimbus Mono';
        font-weight: 700;
        font-size: 30px;
        line-height: 1.1;
        padding: 12px 26px;
        margin-bottom: 30px;
    }


    &__tab-item:hover {
        background-color: black;
        color: $white;
    }

    &__img-wrapper {
        height: 631px;
        width: 60%;
        background-image: url('~images/functionality/tab1.png');

        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}
